body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "CalibreBlack";
  src: url("./styles/fonts/CalibreBlack.otf") format("opentype");
}
@font-face {
  font-family: "CalibreBold";
  src: url("./styles/fonts/CalibreBold.otf") format("opentype");
}
@font-face {
  font-family: "CalibreLight";
  src: url("./styles/fonts/CalibreLight.otf") format("opentype");
}
@font-face {
  font-family: "SFMonoBold";
  src: url("./styles/fonts/SF-Mono/SFMonoBold.otf") format("opentype");
}
@font-face {
  font-family: "SFMonoHeavy";
  src: url("./styles/fonts/SF-Mono/SFMonoHeavy.otf") format("opentype");
}
@font-face {
  font-family: "SFMonoLight";
  src: url("./styles/fonts/SF-Mono/SFMonoLight.otf") format("opentype");
}
